section#main {
  min-height: 600px;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
}

section#content {
}

ul {
  list-style-type: none;
}

td ul {
    margin: 0 0 0 16px;
}

img {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 12px 12px 12px 24px;
}

img#hgv, img#logo {
  display: inline;
  box-shadow: none;
  margin: 0;
}

div > a {
  background-image: url("gvz_link_icon_mini.png");
  background-repeat: no-repeat;
  background-size: 18px;
  padding: 1px 0 1px 28px;
  margin: 12px 12px 12px 26px;
  text-decoration: none;
}

p.editorial {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: grey;
  text-align: center;
  font-variant: small-caps;
  font-size: x-small;
}