section#main {
  min-height: 600px;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
}

section#content {
}

ul {
  list-style-type: none;
}

td ul {
    margin: 0 0 0 16px;
}

li.papyriInfo, li.hgv, li.tm {
    padding: 2px 4px 2px 4px;
} 

li.papyriInfo a, li.hgv a, li.tm a{
  font-weight: bold;
  line-height: 1.5em;
  color: #085E9B;
  font-size: 0.8em;
}

img {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 12px 12px 12px 24px;
}

img#hgv, img#logo {
  display: inline;
  box-shadow: none;
  margin: 0;
}

div > a, p > a {
  background-image: url("gvz_link_icon_mini.png");
  background-repeat: no-repeat;
  background-size: 18px;
  padding: 1px 0 1px 28px;
  margin: 12px 12px 12px 26px;
  text-decoration: none;
}

a.button {
  background-image: url("../img/button1.png");
  background-position: 10px;
  display: block;
  background-repeat: no-repeat;
  background-size: 42px;
  height: 42px;
  width: 400px;
  margin: 0 0 0 16px;
  padding: 12px 0 0 68px;
  text-decoration: none;
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: lightgrey solid 1px;
    background-color: white;
}

a.button span{
    #background-color: lightsteelblue;
    font-size: 12pt;
}

a.greek {
  background-image: url("../img/button1.png");
}

a.scattered {
  background-image: url("../img/button5.png");
}

a.dem {
  background-image: url("../img/button2.png");
}

a.copt {
  background-image: url("../img/button6.png");
}

p.editorial {
  width: 100%;
  bottom: 0;
  color: grey;
  text-align: center;
  font-variant: small-caps;
  font-size: x-small;
}